@tailwind components;

@layer components {
  .nav {
    @apply relative justify-center items-center;
    @apply backdrop-blur-sm dark:bg-white/30 sticky;
    @apply top-0 z-navbar flex flex-row h-16 min-w-full;
    @apply shadow-[0px_0px_1px_1px_rgb(38,38,38,0.1)];
    @apply animate-enter-from-top;

    @apply max-sm:fixed;
  }

  .nav.scrolled {
    @apply bg-neutral-50/90;
    @apply shadow-[0px_5px_10px_0px_rgb(51,51,54,0.26)];
    @apply transition-shadow duration-100 ease-in-out;
  }

  .nav_item {
    @apply bg-neutral-50/90 h-full z-navbar;
    @apply uppercase px-10 gap-1;
    /* @apply px-5 py-3 rounded-lg; */
    @apply relative flex justify-center items-center;
    @apply cursor-pointer shadow-[0px_0px_1px_1px_rgb(38,38,38,0.1)]  hover:bg-neutral-100;
  }

  .nav_item_hover {
    @apply after:transition-transform after:duration-500 after:ease-in-out after:absolute after:bottom-[0rem] after:left-0 after:block after:h-[0.2rem] after:w-full after:origin-bottom-right after:scale-x-0;
    @apply after:bg-gradient-to-r after:from-color-1 after:to-color-2 after:content-[''] after:hover:origin-bottom-left after:hover:scale-x-100;
  }

  .nav_item.current {
    --z-index: theme(zIndex.navbar) - 1;
    --color-1: theme(colors.color-1);
    --color-2: theme(colors.color-2);
    @apply bg-neutral-200 z-[--z-index];
    @apply shadow-[inset_0px_0px_4px_1px_rgb(51,51,54,0.26)];
    @apply before:absolute before:bottom-0 before:left-0 before:h-[0.2rem] before:w-full;
    @apply before:bg-gradient-to-r before:from-color-1/30 before:to-color-2/30;
    /* @apply border-b-2 border-black/30; */
  }

  .left {
    @apply flex w-fit absolute h-full ml-2 z-navbar left-0 top-2 bg-white;
  }

  .nav_logo {
    --color-1: theme(colors.color-1);
    --color-2: theme(colors.color-2);
    @apply relative flex h-full aspect-square shadow-[0px_0px_1px_1px_rgb(38,38,38,0.1)];
  }

  .nav_logo_image {
    filter: drop-shadow(5px 0px 5px var(--color-1))
      drop-shadow(10px 0px 5px var(--color-2));
  }

  .center {
    /*Mobile*/
    @apply absolute hidden items-center justify-center h-full right-0 top-16;

    /*Desktop*/
    @apply sm:relative sm:flex sm:flex-row sm:top-0 sm:w-0;
  }

  .showHamburgerMenu {
    /*Mobile*/
    @apply inline-block;
  }

  .right {
    @apply absolute right-0 flex h-full justify-center items-center mr-2;
  }

  .mobile_navigation {
    /*Mobile*/
    @apply absolute right-0 aspect-square h-full text-center;

    /*Desktop*/
    @apply sm:hidden;
  }

  .btn_download_cv {
    @apply transition-all duration-500 bg-gradient-to-br from-color-1 from-50% to-color-2 to-50%;
    @apply bg-[length:200%_200%] bg-[0%_0%] hover:bg-[100%_100%];
  }
}
