@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../components/app/navbar/DarkButton.module.css";
@import "../components/app/main/SkillCard.module.css";
@import "../components/app/main/ToolCard.module.css";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  @apply bg-neutral-50;
  @apply transition-colors duration-700;
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section-wrapper {
  @apply gap-10 h-auto justify-center items-center;
}

.section {
  @apply m-5 rounded-lg grid grid-cols-3;
  /* @apply shadow-[inset_0px_0px_2.5rem_1px_rgb(0,0,0,0.2)]; */
  /* @apply drop-shadow-lg; */
  @apply shadow-[0px_0px_1px_1px_rgb(38,38,38,0.1)];
}

.section-header-wrapper-middle {
  @apply flex col-span-1 items-center justify-center;
}

.section-header-wrapper-top {
  @apply flex col-span-1 items-start justify-center mt-20;
}

.section-header {
  @apply flex text-3xl bg-white/80 sticky top-20;
}

.card-wrapper {
  @apply flex flex-wrap col-span-2 bg-white/80;
}
