@tailwind components;

@layer components {
  .tilt_wrapper {
    @apply col-span-1 row-span-1 h-full  overflow-hidden;
  }

  .tilt {
    @apply flex justify-center items-center w-full h-full;
    transform-style: preserve-3d;
  }

  .tilt_inner {
    @apply flex justify-center items-center text-color-1/80 antialiased;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
  }

  .tilt_top_icon {
    @apply absolute bottom-5 text-black/80 antialiased;
    transform: translateZ(8vw);

    /* Small Screen */
    @apply max-sm:bottom-1;
  }

  .user_icon {
    @apply text-[30vh];

    /* Small Screen */
    @apply max-sm:text-[10vh];
  }
  .laptop_icon {
    @apply text-[10vh];

    /* Small Screen */
    @apply max-sm:text-[3.5vh];
  }
}
