@tailwind components;

@layer components {
  .introduction {
    @apply grid grid-cols-3 grid-rows-1 overflow-hidden
    m-3 h-[50vh] divide-x-2 divide-solid;
  }

  .typewriter {
    @apply col-span-2 row-span-1 h-full items-center justify-center flex text-5xl
     before:bg-black/50 before:absolute before:top-10 before:h-[0.2rem] before:w-[40%] before:rotate-6
     after:bg-black/50 after:block after:absolute after:bottom-10 after:h-[0.2rem] after:w-[40%] after:-rotate-6;
  }

  .typewriter_wrapper {
    @apply bg-white;
  }

  .tilt_wrapper {
    @apply col-span-1 row-span-1 h-full  overflow-hidden;
  }

  .tilt {
    @apply flex justify-center items-center w-full h-full;
    transform-style: preserve-3d;
  }

  .tilt_inner {
    @apply flex justify-center items-center text-black/80;
    transform-style: preserve-3d;
    transform: rotateY(-20deg);
  }

  .tilt_top_icon {
    @apply absolute bottom-5 text-black;
    transform: translateZ(8vw);
  }
}
